/* 初期設定-------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap");

:root {
  --mainColor: #00c09d;
  --mainColor__op: #00c09da5;
  --orange: #f46400;
  --darkcyan: darkcyan;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-weight: 400;
  overflow-x: hidden;
  margin: 0 auto;
  font-family: "Noto Serif JP", serif;
}
body.close {
  background: unset;
  overflow: unset;
  font-family: "Noto Serif JP", serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  display: block;
  max-width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}
button {
  font-family: serif;
}

.wrap {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
}

.none {
  opacity: 0;
}

.orange {
  color: orange;
}

/* 
横向きのヘッダー-------------------------------------------------------------------- */

#header-nav {
  border-top: 25px solid #008665;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  gap: 2%;
  grid-template-columns: 30% 1fr;
  width: 100%;
  background-color: #fff;
  transition: 0.5s;
  /* height: 100px; */
  padding: 20px 0;
}

.logo {
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  margin-left: 15px;
  font-family: "HG行書体", monospace;
  color: #4d4d4d;
}

.logo_img {
  height: 55px;
  width: 55px;
}

#header-nav ul {
  justify-self: end;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(6, auto);
  /* grid-template-rows: 1fr; */
  margin-left: 20px;
}

#header-nav ul li {
  margin: 0 20px;
  transition: 0.3s;
  display: block;
  height: 100%;
}

header button {
  border: none;
  background-color: var(--mainColor);
  padding: 2px 0px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.3s;
  width: 80px;
  height: auto;
}

header button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

nav ul li a {
  color: #4d4d4d;
  font-weight: bold;
  transition: 0.3s;
  font-size: 1.8rem;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

header nav ul li a:hover {
  opacity: 0.6;
}

header nav ul li:nth-child(1) a {
  color: var(--mainColor);
}

header nav ul li:nth-child(2) a::before,
header nav ul li:nth-child(3) a::before,
header nav ul li:nth-child(4) a::before {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 50%;
  width: 4px;
  height: 4px;
  background-color: #00a97f;
}

#header-nav ul li .hover-menu {
  width: 100%;
  background: linear-gradient(135deg, #fff 90%, var(--mainColor));
  position: absolute;
  top: 100%;
  left: 0;
  height: 0;
  transition: 0.7s ease-in-out;
  opacity: 0;
}
.hover-menu .header-company-pull {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}
.header-pull-title {
  /* display: none; */
  width: 50%;
  pointer-events: none;
}
.header-pull-title h2 {
  font-size: 3.5rem;
  letter-spacing: 1.2px;
  color: var(--mainColor);
}
.header-pull-title p {
  font-size: 1.5rem;
}
.hover-menu .header-images {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 40px;
}
.hover-menu .header-image {
  width: 150px;
  transition: 1s ease-in-out;
  opacity: 0;
  height: 0;
}
.hover-menu .header-image::before,
.hover-menu .header-image::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 50px);
  border: 1px solid #7d8082;
  transition: all 0.15s ease;
}

.hover-menu .header-image::before {
  top: 0;
  border-bottom-width: 0;
}

.hover-menu .header-image::after {
  bottom: 0;
  border-top-width: 0;
}
.hover-menu .header-image img {
  height: 90%;
  width: 90%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: saturate(200%);
  z-index: 1;
}

.hover-menu .header-image p {
  font-size: 18px;
  padding: 3px;
  text-align: center;
  opacity: 0;
  display: none;
}

.hover-menu .header-image a::before {
  display: none;
}

#header-nav ul li:nth-child(2):hover .hover-menu,
#header-nav ul li:nth-child(3):hover .hover-menu,
#header-nav ul li:nth-child(4):hover .hover-menu {
  opacity: 1;
  transform: translateY(0);
  height: 200px;
}
#header-nav ul li:nth-child(2):hover .hover-menu .header-image,
#header-nav ul li:nth-child(3):hover .hover-menu .header-image,
#header-nav ul li:nth-child(4):hover .hover-menu .header-image {
  opacity: 1;
  transform: translateY(0);
  height: 120px;
}

#header-nav ul li:nth-child(2):hover p,
#header-nav ul li:nth-child(3):hover p,
#header-nav ul li:nth-child(4):hover p {
  opacity: 1;
  display: block;
}

#header-nav ul li:nth-child(2):hover .header-pull-title,
#header-nav ul li:nth-child(3):hover .header-pull-title,
#header-nav ul li:nth-child(4):hover .header-pull-title {
  opacity: 1;
  display: block;
}



/* hero -----------------------------------------------------------------------------------------*/
header .mv {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1920px;
  min-height: 100vh;
  /* width: auto;
  height: auto; */
  width: 1920px;
  z-index: -100;
  background: url("poster.jpg") no-repeat;
  background-size: cover;
}

header video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  /* display: none; */
}

header .mv::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url(../images/company-filter.png);
  z-index: 1;
}

header .mv::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  z-index: 2;
}

.header-title {
  position: fixed; /*必ず必要*/
  z-index: 1; /*必ず必要*/
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  line-height: 70px;
  transition: 0.5s;
  /* background-color: #008afc; */
  max-width: 1920px;
  width: 100%;
  font-size: 5rem;
  text-align: center;
}


.header-title p:nth-child(1) {
  color: #fff;
}
.header-title p:nth-child(2) {
  color: #eee;
  font-size: 2.2rem;
}

/* 
メイン---------------------------------------------------------------------------- */

main {
  width: 100%;
  margin-top: 100vh;
  display: flex;
  position: relative;
  z-index: 1;
}

/* 
縦向きのヘッダー---------------------------------------------------------------------------- */

#colnav {
  width: 300px;
  position: relative;
  z-index: 2;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  #colnav {
    display: none;
  }
}

#colnav.close {
  width: 5%;
  min-width: 100px;
}

.text {
  transition: 0.1s;
}

#colnav.close .text {
  opacity: 0;
  pointer-events: none;
}

.sidebar {
  position: sticky;
  top: 0px;
  background-color: var(--mainColor__op);
  padding: 10px 14px;
  height: 100vh;
}

.sidebar__top {
  position: relative;
}

.sidebar__top .image-text {
  display: flex;
  align-items: center;
}

.image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

.header .image-text img {
  width: 40px;
}

.sidebar__text {
  font-size: 20px;
  font-weight: 600;
  opacity: 1;
  margin-left: 25px;
}

.toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  z-index: 2;
}

/* ナビリンク */
.sidebar ul {
  margin-top: 100px;
}

.sidebar li {
  margin-top: 40px;
  padding-left: 10px;
}

.sidebar li .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  min-width: 45px;
  height: 45px;
}

.sidebar li .icon:hover {
  transform: scale(1.2);
}

.sidebar li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
}

.sidebar li a:hover .icon {
  transform: scale(1.2);
}

.sidebar li a:hover .nav__text {
  opacity: 0.7;
}

.nav__text {
  margin-left: 40px;
}

/* 
コンテナ―----------------------------------------------------------------------------- */
.container {
  width: 95%;
  transition: all 1s;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

.bgWrap {
  width: 100%;
  height: auto;
  clip-path: inset(0);
  /* will-change: transform; */
  /* background-image: url(../images/haike-1920x1280.jpg);
  background-attachment: fixed;
  background-size: cover; */
}
.bgWrap::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../images/haike-1920x1280.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.bgWrapSecond {
  width: 100%;
  height: auto;
  clip-path: inset(0);
}

.bgWrapSecond::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../images/haike-1920x1280.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

/* 共通
-------------------------------------------------------------------------------------- */

.reverse {
  transform: rotateY(180deg);
}

.null {
  width: 100%;
  /* padding: 150px; */
  padding: 150px 0;
}

.inner {
  width: 74%;
  margin: 0 auto;
  padding: 35px 0;
}

.section_title {
  font-size: 6rem;
  position: relative;
  padding-bottom: 10px;
}

.section_title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 1.5%;
  height: 3px;
  width: 98.5%;
  min-width: 150px;
  background-image: linear-gradient(to left, #0b292170, #03c796ad);
}

#business .section_title::before {
  right: 1.5%;
  left: 0;
}

.sectitle {
  font-size: 5rem;
  text-align: center;
  padding: 50px 0;
}

.section_line_title {
  font-size: 5rem;
  text-align: center;
  padding: 40px 0;
  position: relative;
  z-index: 1;
}

.colorChange-g {
  color: var(--mainColor);
  font-weight: bold;
}

/* 
もっと見るボタン---------------------------------------------------------------- */
.button_line007 a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 320px;
  padding: 10px 25px;
  color: var(--mainColor);
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: rgb(224, 224, 224);
  font-size: 2rem;
}
.button_line007 a:hover {
  background: #ebfefa;
  color: var(--mainColor);
}
.button_line007 a:before,
.button_line007 a:after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.button_line007 a:before {
  top: 0;
  left: 0;
}
.button_line007 a:after {
  bottom: 0;
  right: 0;
}
.button_line007 a:hover:before,
.button_line007 a:hover:after {
  width: 100%;
  height: 100%;
}
.button_line007 a:hover:before {
  border-top-color: var(--mainColor);
  border-right-color: var(--mainColor);
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.button_line007 a:hover:after {
  border-bottom-color: var(--mainColor);
  border-left-color: var(--mainColor);
  transition: border-color 0s ease-out 0.2s, width 0.15s ease-out 0.2s,
    height 0.15s ease-out 0.3s;
}
.more {
  color: var(--mainColor) !important;
}

/* 
もっと見るボタン オレンジ---------------------------------------------------------------- */
.button_line_orange a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 320px;
  padding: 10px 25px;
  color: var(--darkcyan) !important;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: rgb(224, 224, 224);
  font-size: 2rem;
  margin-top: 50px;
}
.button_line_orange a:hover {
  background: #fffdfa;
  color: var(--darkcyan);
}
.button_line_orange a:before,
.button_line_orange a:after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.button_line_orange a:before {
  top: 0;
  left: 0;
}
.button_line_orange a:after {
  bottom: 0;
  right: 0;
}
.button_line_orange a:hover:before,
.button_line_orange a:hover:after {
  width: 100%;
  height: 100%;
}
.button_line_orange a:hover:before {
  border-top-color: var(--darkcyan);
  border-right-color: var(--darkcyan);
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.button_line_orange a:hover:after {
  border-bottom-color: var(--darkcyan);
  border-left-color: var(--darkcyan);
  transition: border-color 0s ease-out 0.2s, width 0.15s ease-out 0.2s,
    height 0.15s ease-out 0.3s;
}
.more {
  color: var(--mainColor) !important;
}

/* 
SECTION01 / NEWS----------------------------------------------------------------------------- */

/* 2pata-n-------------------------------------------------------------  */
.news {
  width: 80%;
  margin: 0 auto 0px auto;
}

.sns_contents {
  width: 80%;
  margin: 0 auto;
  box-shadow: 10px 10px 20px #3333330c;
}

.insta_images {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.insta_card {
  width: 250px;
  height: 334px;
  background: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 6px;
  margin-left: 10px;
}

.card-image {
  background-color: rgb(31, 223, 223);
  background-color: #00c09d;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60%;
  border-radius: 6px 6px 0 0;
  transition: all 0.3s;
}

.ml5 {
  margin-left: 5px;
  padding-left: 5px;
  color: red;
}

.card-image:hover {
  transform: scale(0.98);
}

#image1 {
  background-image: url(../images/top/insta1.jpg);
}

#image2 {
  background-image: url(../images/top/insta2.jpg);
}

#image3 {
  background-image: url(../images/top/insta3.jpg);
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  color: rgb(179, 179, 179);
  padding: 7px;
  font-size: 14px;
}

.heading:hover {
  cursor: pointer;
}

/* インスタボタン */
.button {
  --color: #00a97f;
  display: block;
  padding: 0.4em 1.75em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  display: block;
  margin: 10px auto 0 auto;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(0.8);
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

/* --------------------------------------------------------------------- */

.news li {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #000;
  font-size: 20px;
  max-height: 100px;
  overflow-y: scroll;
}

.news-label {
  background-color: var(--mainColor);
  border-radius: 3px;
  color: #fff;
  padding: 2px 5px;
  margin: 0 20px;
  height: 25px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

/* カンパニー -----------------------------------------------------------------------------------------*/
.details {
  margin-top: 10px;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* カンパニーの左側 */
.details .left {
  /* height: 500px; */
  width: 60%;
  background: linear-gradient(135deg, #ffffff00, #67676702);
  padding: 1.5%;
  backdrop-filter: blur(5px);
  box-shadow: 3px 3px 20px #989898a4;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

/* 左側の【テキスト】 */

.left .txts p {
  font-size: calc(16px + (20 - 16) * ((100vw - 1025px) / (1920 - 1025)));
  line-height: 1.8;
  transition: all 0.3s;
}

/* 左側の【リスト】 -------------------------------------------------------------------------------- */
.left .lists {
  width: 100%;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  margin-top: 44px;
}

.company_list_button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
  width: 200px;
  margin-right: 10px;
}

.company_list_button::before,
.company_list_button::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7d8082;
  transition: all 0.15s ease;
}

.company_list_button::before {
  top: 0;
  border-bottom-width: 0;
}

.company_list_button::after {
  bottom: 0;
  border-top-width: 0;
}

.company_list_button:active,
.company_list_button:focus {
  outline: none;
}

.company_list_button:active::before,
.company_list_button:active::after {
  right: 3px;
  left: 3px;
}

.company_list_button:active::before {
  top: 3px;
}

.company_list_button:active::after {
  bottom: 3px;
}

.company_list_button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.company_list_button_lg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.company_list_button_lg::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all 0.2s ease;
}

.company_list_button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-image: linear-gradient(to left, #15504170, #00a97fad);
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.company_list_button_text {
  position: relative;
}

.company_list_button:hover {
  color: #0f1923;
}

.company_list_button:hover .company_list_button_sl {
  width: calc(100% + 15px);
}

.company_list_button:hover .company_list_button_lg::after {
  background-color: #fff;
}

/* カンパニーの右側 */
.details .right {
  width: 30%;
  height: 300px;
  min-width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details .right_image::before,
.details .right_image::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 50px);
  border: 1px solid #7d8082;
  transition: all 0.15s ease;
}

.details .right_image::before {
  top: 0;
  border-bottom-width: 0;
}

.details .right_image::after {
  bottom: 0;
  border-top-width: 0;
}

.right_image {
  width: 100%;
  height: 100%;
  position: relative;
}
.details .right .right_image img {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: sepia(60%) saturate(200%);
  z-index: 1;
}

#right_image2,
#right_image3 {
  display: none;
}

/* ホバーした際のテキスト -----------------------------------------------------------------------------------------*/
.hover-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-flow: column;
  justify-content: center;
  z-index: 2;
}
.hover-text .text1 {
  font-size: 22px;
  padding: 0 20px 10px;
}
.hover-text .text2 {
  font-size: 16px;
  padding: 0 20px;
}

.hover-text:hover {
  opacity: 1;
  padding-top: 10px;
}

/* 
businessのデザイン------------------------------------------------------------- */
#business .details {
  flex-direction: row-reverse;
  justify-content: space-between;
}

#business .section_title {
  text-align: right;
}

#business .section_title::before {
  background-image: linear-gradient(to right, #15504170, #00a97fad);
}

#business .inner {
  padding: 0;
  padding-bottom: 100px;
}

#business .left .txts {
  text-align: right;
  margin-left: auto;
}

#business .left {
  margin-left: 24px;
}

#business .details .left {
  background: linear-gradient(135deg, #ffffff00, #67676702);
  padding: 1.5%;
  backdrop-filter: blur(5px);
  box-shadow: 3px 3px 20px #989898a4;
}

/* 
NULL--------------------------------------------------------------------------------- */

.null {
  position: relative;
}

.null::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.416);
}

.null .nullTxt {
  position: relative;
  z-index: 1;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #fff;
  padding: 50px;
}

.omoji {
  font-size: 69px;
}

.null .nullTxt p {
  display: inline-block;
  text-align: left;
  font-size: 60px;
}

/* 
SECTION03----------------------------------------------------------------------------- */

.slider_sec {
  position: relative;
  /* height: 100vh; */
}

[class^="swiper-button-"] {
  transition: all 0.3s ease;
}

.swiper-slide {
  backface-visibility: hidden;
}

.swiper-container {
  width: 80%;
  height: 100vh;
  float: left;
  transition: opacity 0.6s ease, transform 0.3s ease;
}

.swiper-container.nav-slide {
  width: 20%;
  padding-left: 5px;
}

.swiper-container.nav-slide .swiper-slide {
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.swiper-container.nav-slide .swiper-slide.swiper-slide-active {
  opacity: 1;
}

.swiper-container.nav-slide .swiper-slide .content {
  width: 100%;
}

.swiper-container.nav-slide .swiper-slide .content .swiper-title {
  font-size: 2rem;
}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-slide.slide-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.swiper-slide .entity-img {
  display: none;
}

.swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  color: #fff;
}

.swiper-slide .content .swiper-title {
  font-size: 0.6em;
  font-weight: bold;
  margin-bottom: 30px;
}

.swiper-slide .content .caption {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  transform: translateX(50px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.7s ease;
}

.swiper-slide .content .caption.show {
  transform: translateX(0);
  opacity: 1;
}

[class^="swiperbutton-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}

.swiper-button-prev {
  transform: translateX(50px);
}

.swiper-button-next {
  transform: translateX(-50px);
}

/* 
SECTION04----------------------------------------------------------------------------- */
#jobinfo {
  background-color: rgb(238, 238, 238);
}

#jobinfo .section_line_title::before {
  position: absolute;
  content: "Job-Info";
  top: 0;
  right: 30%;
  color: #00c09da0;
  font-weight: 800;
  top: 0px;
  opacity: 0.3;
  filter: blur(1px);
  text-shadow: 10px 10px 10px rgb(111, 111, 111);
  font-size: 11rem;
  z-index: 0;
}

.job-card-1080-wrap {
  display: none;
}

.job-boxs {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-box {
  position: relative;
  width: 30%;
  /* min-width: 220px; */
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 1;
  margin-right: 20px;
}

.job-box:nth-child(3) {
  margin-right: 0px;
}

.job-box .content {
  position: relative;
  width: 100%;
  min-width: 290px;
  height: 254px;
  background: rgba(255, 255, 255, 0.05);
  background-size: cover;
  background-position: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  transition: all 0.5s;
}

.job-box:hover .content {
  transform: scale(1.05);
}

.job-box:nth-child(1) .content {
  background-image: url(../images/top/insta1.jpg);
}
.job-box:nth-child(2) .content {
  background-image: url(../images/top/insta2.jpg);
}
.job-box:nth-child(3) .content {
  background-image: url(../images/top/insta3.jpg);
}

.job-box .content h2 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
  text-shadow: 0 0 15px #fff;
  backdrop-filter: blur(1px);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
SECTION04----------------------------------------------------------------------------- */
#contact .section_line_title::before {
  position: absolute;
  content: "Contact";
  top: 0;
  right: 30%;
  color: #00c09da0;
  font-weight: 800;
  top: 0px;
  opacity: 0.5;
  filter: blur(1px);
  text-shadow: 10px 10px 10px rgb(111, 111, 111);
  font-size: 11rem;
  z-index: 1;
}

.tel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#entry .lorem {
  font-size: 18px;
  padding: 50px;
  text-align: center;
}

.telbox {
  align-items: center;
  background-color: darkcyan;
  display: flex;
  height: 250px;
  justify-content: center;
  width: 60%;
}

.telbox .box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.telbox .left {
  color: white;
  font-size: 3.5rem;
}
.telbox .right {
  background-color: white;
  padding: 25px;
  width: 50%;
}
.telbox .right a {
  display: block;
  border-bottom: 1px solid #000000;
  font-size: 4rem;
  text-align: center;
  color: #008afc;
}
.telbox .right p:nth-child(2) {
  font-size: 2rem;
  text-align: center;
}

.tel .img {
  height: 400px;
  width: 35%;
}

.tel .img img {
  height: 100%;
  width: 100%;
}

.lorem {
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

/* contact_section --------------------------------------------------------------------*/


/* 
フォーム------------------------------------------------------------------------------ */
.entryForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.entryForm span {
  color: rgb(203, 0, 0);
  font-weight: bold;
  font-size: 16px;
}

.entryForm form {
  width: 100%;
  max-width: 1000px;
  background-color: darkcyan;
  padding: 100px 50px;
}

.entryForm .input-group {
  margin-bottom: 80px;
  position: relative;
}

.entryForm .input,
textarea {
  width: 100%;
  padding: 15px;
  outline: 0;
  border: 1px solid rgb(255, 255, 255);
  color: #fff;
  background: transparent;
  font-size: 20px;
}

.label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #fff;
  cursor: text;
  transition: 0.2s;
  font-size: 20px;
}

.check {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.input-group p {
  font-size: 14px;
  padding: 10px;
}

.entryForm button {
  padding: 10px;
  color: #fff;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
  transition: 0.2s;
}
.entryForm button:hover {
  padding: 10px;
  color: darkcyan;
  background-color: #fff;
  outline: none;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
}

.entryForm input:focus ~ .label,
.entryForm input:valid ~ .label,
textarea:valid ~ .label,
textarea:focus ~ .label {
  top: -35px;
  font-size: 16px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row .input-group {
  flex-basis: 48%;
}
input:placeholder-shown {
  color: transparent;
}
input::-webkit-input-placeholder {
  color: transparent;
}
input::-moz-placeholder {
  color: transparent;
}
input:-ms-input-placeholder {
  color: transparent;
}
input::-ms-input-placeholder {
  color: transparent;
}
/* focus-------------------------------------------------------------- */
input:focus:placeholder-shown {
  color: rgba(238, 238, 238, 0.476);
}
input:focus::-webkit-input-placeholder {
  color: rgba(238, 238, 238, 0.476);
}
input:focus::-moz-placeholder {
  color: rgba(238, 238, 238, 0.476);
}
input:focus:-ms-input-placeholder {
  color: rgba(238, 238, 238, 0.476);
}
input:focus::-ms-input-placeholder {
  color: rgba(238, 238, 238, 0.476);
}

/* 
SECTION05----------------------------------------------------------------------------- */
#sec5 .section_line_title::before {
  position: absolute;
  content: "Q&A";
  top: 0;
  right: 30%;
  color: #00c09da0;
  font-weight: 800;
  top: 0px;
  opacity: 0.5;
  filter: blur(1px);
  text-shadow: 10px 10px 10px rgb(111, 111, 111);
  font-size: 11rem;
  z-index: 0;
}

#sec5 .contents {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 500px;
}

#sec5 .contents .img-left,
#sec5 .contents .img-right {
  width: 20%;
  min-width: 200px;
  height: 100%;
  position: relative;
}

#sec5 .contents .img-left img {
  width: 100%;
  /* height: 100%; */
  position: absolute;
  bottom: 0;
}

.map {
  height: 450px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.questionBox {
  width: 60%;
}

.cp_qa {
  overflow-x: hidden;
  margin: 0 auto;
  color: #333333;
  width: 100%;
}
.cp_qa .cp_actab {
  padding: 20px 0;
  border-bottom: 1px solid #cccccc;
  position: relative;
}
.cp_qa label {
  font-size: calc(20px + (30 - 20) * ((100vw - 1025px) / (1920 - 1025)));
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 10px 0 48px;
  cursor: pointer;
}
.cp_qa .cp_actab-content {
  font-size: 2rem;
  position: relative;
  overflow: hidden;
  height: 0;
  margin: 0 40px;
  padding: 0 14px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  opacity: 0;
}
.cp_qa .cp_actab input[type="checkbox"]:checked ~ .cp_actab-content {
  height: auto;
  padding: 14px;
  opacity: 1;
}
.cp_qa .cp_plus {
  font-size: 2.4rem;
  line-height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  margin: 3px 0 0 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.cp_qa .cp_actab input[type="checkbox"]:checked ~ .cp_plus {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cp_qa .cp_actab input[type="checkbox"] {
  display: none;
}

footer {
  background: #101010;
  padding: 86px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  z-index: 200;
}

footer .footer-wrap {
  width: 100%;
  padding: 90px 0 0 0;
}

footer .up {
  display: grid;
  grid-template-columns: 100px 100px;
  justify-content: center;
  gap: 5%;
}

footer .up a {
  display: block;
  /* margin: 0 30px; */
  font-size: 1.5rem;
  padding: 10px 0;
}

footer .center {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

footer .center ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
}

footer .center ul li {
  border-right: 1px solid #fff;
  padding: 15px;
  width: 20%;
  font-size: 1.5rem;
}

footer .center ul li:last-child {
  border-right: none;
}

footer .down {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .down p {
  margin-left: 15px;
  font-size: 4rem;
  color: #fff;
  font-family: "HG行書体", monospace;
}

.copy {
  margin-top: 25px;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

/* インスタグラム -----------------------------------------------------------------------------------------*/
#instagram {
  position: fixed;
  top: 150px;
  right: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#instagram .nav_contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_contents .toggle_btn,
.nav_contents span a {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.nav_contents .toggle_btn {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 35px;
  color: #0e2431;
  z-index: 100;
  cursor: pointer;
  transform: rotate(-360deg);
  transition: all 0.6s ease-in-out;
  background-color: #00dbde;
  background-image: linear-gradient(43deg, #00dbde 0%, #fc00ff 100%);
}

.nav_contents span {
  position: absolute;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  z-index: 1;
  /* display: block;
  background-image: url(../images/bus/eco1.JPG);
  background-size: cover;
  background-position: center; */
  pointer-events: none;
}

#instagram.open .toggle_btn {
  transform: rotate(0deg);
}

#instagram.open .nav_contents span {
  transform: rotate(calc(var(--i) * (360deg / 11))) translateY(180px);
  opacity: 1;
  pointer-events: all;
}

.nav_contents span a {
  text-decoration: none;
  z-index: 0;
  transition: 0.3s;
}

.nav_contents span a img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.nav_contents span a:hover img {
  transform: scale(1.2);
}

.nav_contents .insta_a_1:hover ~ .insta_a_3 a,
.nav_contents .insta_a_1:hover ~ .insta_a_2 a {
  opacity: 0.1;
}
.nav_contents .insta_a_2:hover ~ .insta_a_3 a,
.nav_contents .insta_a_2:hover ~ .insta_a_1 a {
  opacity: 0.1;
}
.nav_contents .insta_a_3:hover ~ .insta_a_1 a,
.nav_contents .insta_a_3:hover ~ .insta_a_2 a {
  opacity: 0.1;
}

/* レスポンシブ ----------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
  /*  (~1280px)-------*/
  .inner {
    width: 94%;
  }
}

/* ヘッダーナビ ------------------------------------------------*/
@media screen and (max-width: 1024px) {
  #header-nav {
    grid-template-columns: 1fr;
    /* grid-template-rows: 50px 50px; */
    row-gap: 0px;
    /* height: 180px; */
    border-top: 15px solid #008665;
  }
  #header-nav ul {
    justify-self: center;
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6, auto);
    /* grid-template-rows: 1fr; */
    margin-left: 20px;
  }
  .header-pull-title {
    /* display: none; */
    width: 20%;
    pointer-events: none;
  }
  .hover-menu .header-images {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-pull-title h2 {
    font-size: 2.5rem;
    letter-spacing: 1.2px;
    color: var(--mainColor);
  }
  .header-pull-title p {
    font-size: 1.5rem;
  }
  .header-title {
    line-height: 1.5;
  }
  .header-title p:first-child {
    font-size: calc(30px + (50 - 30) * ((100vw - 600px) / (1024 - 600)));
  }
  .header-title p:last-child {
    font-size: calc(18px + (22 - 18) * ((100vw - 600px) / (1024 - 600)));
  }
}

@media screen and (max-width: 730px) {
  .header-pull-title {
    /* display: none; */
    width: 10%;
    pointer-events: none;
    margin-right: 20px;
  }
  .hover-menu .header-images {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-pull-title h2 {
    font-size: 2rem;
    letter-spacing: 1.2px;
    color: var(--mainColor);
  }
  .header-pull-title p {
    font-size: 1rem;
  }
  #header-nav ul li:nth-child(2):hover .hover-menu .header-image,
  #header-nav ul li:nth-child(3):hover .hover-menu .header-image,
  #header-nav ul li:nth-child(4):hover .hover-menu .header-image {
    opacity: 1;
    transform: translateY(0);
    height: 100px;
  }
  #header-nav ul li a {
    color: #4d4d4d;
    font-weight: bold;
    transition: 0.3s;
    font-size: 1.5rem;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
  }
}


@media screen and (max-width: 599px) { 
  main {
    margin-top: 70vh;
  }
  .hover-menu {
    display: none;
  }
  .logo h1{
    font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (730 - 320)));
  }
  #header-nav ul li {
    margin: 0 11px;
  }
  header nav ul li a::before {
    display: none;
  }
  header nav ul li:nth-child(6) button {
    display: none;
  }
  #header-nav {
    /* height: 120px; */
    padding: 10px 0;
  }
  #header-nav ul {
    margin-left: 0;
    grid-template-columns: repeat(5, auto);
    margin: 10px 0 0 0 ;
  }
  #header-nav ul li a {
    font-size: calc(13px + (20 - 13) * ((100vw - 320px) / (730 - 320)));
  }
  .header-title {
    top: 37%;
  }
}

@media screen and (max-width: 460px) {
  .logo_img {
    height: 35px;
    width: 35px;
  }
  .header-title {
    top: 35%;
  }
}

@media screen and (max-width: 400px) {
  .header-title {
    top: 45%;
  }
 }

/* Instagramの画像数 -----------------------------------------------------------------------------------------*/

@media screen and (max-width: 1280px) {
  /*  (~1280px)-------*/
  .insta_images .insta_card:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  .insta_card {
    width: 200px;
    height: 284px;
  }
  .sns_contents {
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .insta_card {
    width: 150px;
    height: 204px;
  }
  .card-image {
    height: 40%;
  }
  .button {
    --color: #00a97f;
    display: block;
    padding: 0.2em 1.55em;
  }
  .heading {
    font-weight: 600;
    color: rgb(179, 179, 179);
    padding: 7px;
    font-size: 12px;
  }
  .fa-paper-plane::before {
    display: none;
  }
}

/* カンパニー ------------------------------------------------*/

@media screen and (max-width: 1280px) {
  /*  (~1280px)-------*/
  .details {
    display: block;
    height: auto;
  }

  .details .left {
    width: 90%;
    margin: 44px auto 24px auto;
  }

  .left .lists {
    width: 100%;
  }

  /* カンパニーの写真 */
  .details .right {
    width: 90%;
    margin: 0 auto;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .right_image {
    width: 31%;
    height: 100%;
    position: relative;
  }

  #right_image2,
  #right_image3 {
    display: block;
  }

  #business .left {
    margin-left: 0px;
    margin: 44px auto 24px auto;
  }
}

@media screen and (max-width: 1024px) {
  /* カンパニーの写真 */
  .details .right {
    width: 90%;
    margin: 0 auto;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 730px) {
  /* カンパニーの写真 */
  .details .right {
    width: 90%;
    margin: 0 auto;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .hover-text .text1 {
    font-size: 16px;
    padding: 0 20px 10px;
  }
  .hover-text .text2 {
    font-size: 12px;
    padding: 0 20px;
  }
}

/* Q&A ------------------------------------------------*/
@media screen and (max-width: 1024px) {
  .cp_qa label {
    font-size: 20px;
  }
  .cp_qa .cp_actab-content {
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  #sec5 .contents .img-left,
  #sec5 .contents .img-right {
    display: none;
  }
  .questionBox {
    width: 80%;
    margin: 20px auto;
  }

  #sec5 .contents {
    height: auto;
  }
}

@media screen and (max-width: 599px) {
  .cp_qa label {
    font-size: 16px;
  }
  .cp_qa .cp_actab-content {
    font-size: 14px;
  }
}

/*  Job-Info(Top)------------------------------------------------*/

@media screen and (max-width: 1280px) {
  /*  (~1280px)-------*/
  .job-box .content {
    position: relative;
    width: 100%;
    min-width: 220px;
    height: 224px;
  }
  .job-box .content h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  /*  (~1080px)-------*/
  .job-boxs {
    display: none;
  }
  .job-card-1080-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
  }
  .job-card-1080 {
    width: 80%;
    height: 254px;
    border-radius: 4px;
    background: #212121;
    display: flex;
    gap: 5px;
    padding: 0.4em;
    background: rgba(0, 90, 90, 0.603);
  }
  .job-card-1080 p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.5s;
    background: #03d39fa8;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .job-card-1080 p:hover span {
    font-weight: 800;
  }
  .job-card-1080 p:nth-child(1):hover {
    flex: 4;
    background-image: url(../images/top/insta1.jpg);
    background-size: cover;
    background-position: center;
  }
  .job-card-1080 p:nth-child(2):hover {
    flex: 4;
    background-image: url(../images/top/insta2.jpg);
    background-size: cover;
    background-position: center;
  }
  .job-card-1080 p:nth-child(3):hover {
    flex: 4;
    background-image: url(../images/top/insta3.jpg);
    background-size: cover;
    background-position: center;
  }
  .job-card-1080 p span {
    min-width: 14em;
    padding: 0.5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all 0.5s;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.1em;
    font-size: 2rem;
  }

  .job-card-1080 p:hover span {
    transform: rotate(0);
  }
}

/* お問い合わせ(Top) ------------------------------------------------*/

/* @media screen and (max-width: 1280px) {
  .telbox .left {
    font-size: 2rem;
  }
  .telbox .right {
    padding: 25px;
    background-color: white;
    width: 50%;
  }
  .telbox .right p:nth-child(1) {
    font-size: 4rem;
    text-align: center;
    border-bottom: 1px solid #000;
  }
  .telbox .right p:nth-child(2) {
    text-align: center;
    font-size: 2rem;
  }

  @media screen and (max-width: 1080px) {
    .tel .img {
      display: none;
    }
    .telbox {
      width: 100%;
    }
    .telbox .left {
      font-size: 2.5rem;
    }
  }
} */

/* null ------------------------------------------------*/
@media screen and (max-width: 1280px) {
  /* (~1280px) ------------*/
  .null .nullTxt {
    padding: 25px;
  }

  .null .nullTxt p {
    display: inline-block;
    text-align: left;
    font-size: 40px;
  }
  .omoji {
    font-size: 49px;
  }
}

/* section_line_title ------------------------------------------------*/
@media screen and (max-width: 777px) {
  /* #jobinfo .section_line_title::before,
  #contact .section_line_title::before,
  #sec5 .section_line_title::before {
    font-size: 8rem;
  } */
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 599px) {
}

/* エントリーフォーム ------------------------------------------------*/

@media screen and (max-width: 1427px) {
  /* (~1427px) ------------*/
  .telbox .left {
    font-size: 3rem;
  }
  .telbox .right {
    padding: 25px;
    background-color: white;
    width: 50%;
  }
  .telbox .right p:nth-child(1) {
    font-size: 4rem;
    text-align: center;
    border-bottom: 1px solid #000;
  }
  .telbox .right p:nth-child(2) {
    text-align: center;
    font-size: 2rem;
  }
  .tel .img {
    display: none;
  }
  .telbox {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .telbox .left {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 599px) {
  .telbox .box {
    display: block;
  }
  .box .left {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
  }
  .box .right {
    width: 100%;
  }
  .box .right a {
    font-size: 3rem;
  }
  .lorem {
    font-size: 10px;
  }
}

@media screen and (max-width: 599px) {
  .entryForm form {
    padding: 50px 25px;
  }
  .entryForm .input-group {
    margin-bottom: 30px;
  }
  .entryForm .input,
  textarea {
    font-size: 16px;
  }
  .label {
    font-size: 12px;
  }
  .entryForm span {
    font-size: 12px;
  }
  .entryForm input:focus ~ .label,
  .entryForm input:valid ~ .label,
  textarea:valid ~ .label,
  textarea:focus ~ .label {
    font-size: 12px;
  }
  .check {
    font-size: 14px;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-box {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  flex-flow: column;
  gap: 150px;
}

.loaded {
  opacity: 0;
  z-index: -100;
}

/* ALTERNATING ORBITS */

.circle-border {
  width: 300px;
  height: 300px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(63, 249, 220);
  background: linear-gradient(
    0deg,
    rgba(63, 249, 220, 0.1) 33%,
    rgba(63, 249, 220, 1) 100%
  );
  animation: spin 0.8s linear 0s infinite;
  position: relative;
}

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: 50%;
}

.loadingtxt {
  color: aliceblue;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 100;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
  0% {
    background: linear-gradient(
      0deg,
      rgba(63, 249, 220, 0.1) 33%,
      rgba(63, 249, 220, 1) 100%
    );
  }
  20% {
    background: linear-gradient(
      0deg,
      rgba(63, 249, 220, 0.1) 33%,
      rgb(63, 249, 193) 100%
    );
  }
  40% {
    background: linear-gradient(
      0deg,
      rgba(63, 249, 220, 0.1) 33%,
      rgb(63, 249, 156) 100%
    );
  }
  60% {
    background: linear-gradient(
      0deg,
      rgba(63, 249, 220, 0.1) 33%,
      rgb(63, 249, 109) 100%
    );
  }
  90% {
    background: linear-gradient(
      0deg,
      rgba(63, 249, 220, 0.1) 33%,
      rgb(100, 249, 63) 100%
    );
  }
}

/* フッターレスポンシブ -----------------------------------------------------------*/
@media screen and (max-width: 1024px) {
  footer .center ul {
    width: 75%;
  }
  footer .center ul li {
    padding: 10px;
  }
}
@media screen and (max-width: 599px) {
  footer .center ul {
    width: 94%;
  }
  footer .center ul li {
    padding: 5px;
    font-size: 1.2rem;
  }
}
