:root {
  --mainColor: #00c09d;
  --mainColor__op: #00c09da5;
}

.fw900 {
  font-weight: bold;
  font-size: calc(18px + (30 - 20) * ((100vw - 1025px) / (1920 - 320)));
  background: rgba(255, 255, 0, 0.5);
  background-repeat: no-repeat;
  background-size: 200% 0.8em;
  background-position: 100% 0.5em;
}

/* 
  共通----------------------------------------------------------*/

.inner {
  width: 74%;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.header {
  width: 94%;
  margin: 0 auto;
  padding: 30px 0;
}

.secTitle {
  font-size: calc(40px + (30 - 20) * ((100vw - 1025px) / (1920 - 1025)));
  position: relative;
  border-top: solid 1px #898484;
  padding-top: 0;
  margin-top: 100px;
  margin-bottom: 50px;
}

.secTitle::before {
  position: absolute;
  content: "";
  width: 10%;
  height: 3px;
  background-color: var(--mainColor);
  top: -2px;
}

.subTitle {
  font-size: calc(28px + (30 - 20) * ((100vw - 1025px) / (1920 - 1025)));
  display: block;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  color: #00c09d;
  /*文字色*/
  padding: 0.18em 0; /*上下の余白*/
  border-top: solid 2px #00c09d; /*上線*/
  border-bottom: solid 2px #00c09d; /*下線*/
  margin-top: 20px;
  margin-bottom: 30px;
}

.color--main {
  color: var(--mainColor);
  font-weight: 700;
}
.underline-before {
  background: linear-gradient(black, black) 0 100%/0 2px no-repeat;
  /*左から、カラー（始点と終点それぞれ同じものを指定）、position / サイズ横縦 繰り返しの有無 */

  transition: all 3s;
  /*トランジションの設定。下線を引く動きをアニメーションにするのに必要 */

  text-decoration: none;
  /*テキストの装飾の設定 */
}

.underline-after {
  background-size: 100% 2px;
  /* 変化後のスタイル。横サイズを0から100%に変えることで指定の文字列に下線を引く */
}

/* header-nav ------------------------------------------------*/
header nav ul li:nth-child(3) a {
  color: var(--mainColor);
}
header nav ul li:nth-child(1) a,
header nav ul li:nth-child(2) a,
header nav ul li:nth-child(4) a,
header nav ul li:nth-child(5) a {
  color: #101010;
}


/* 
  companyメニュー-------------------------------------------------------- */

#menu {
  background: linear-gradient(
    145deg,
    rgba(229, 255, 242, 0.53) 40%,
    rgba(133, 240, 188, 0.53)
  );
  width: 100%;
  box-shadow: 0 10px 25px rgba(98, 98, 98, 0.53);
}

#menu .title p {
  font-size: 4rem;
  position: relative;
}

#menu .title p::after {
  position: absolute;
  content: "Business";
  bottom: -70px;
  left: 0;
  font-size: 7rem;
  color: var(--mainColor);
}

#menu ul {
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu ul li {
  position: relative;
  width: 25%;
}

#menu ul li a {
  display: block;
  color: black;
  border-bottom: 1px solid #898484;
  font-size: 3rem;
  transition: all 0.3s;
}

#fa-right {
  position: absolute;
  bottom: 10px;
  right: 30px;
  opacity: 0;
  transition: all 0.3s;
  font-size: 3rem;
}

#menu ul li a:hover {
  color: #00b380;
}

#menu ul li a:hover + #fa-right {
  opacity: 1;
  color: #00b380;
}

#fa-right {
  animation: mochimochi 1s infinite;
}
@keyframes mochimochi {
  0% {
    transform: scale(1, 0.8);
  }
  20% {
    transform: scale(0.8, 1.1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.8);
  }
}

/* 
  施工事例-------------------------------------------- */

/* s-slider -----------------------------------------------------------*/
.s-swipe-wrap {
  width: 80%;
  height: 50vw;
  /* padding-bottom: 100%; */
  position: relative;
  overflow: hidden;
  /* margin: 0 auto; */
  margin-top: 5vw;
  box-shadow: 2px 2px 15px var(--mainColor);
}
#s-swipe-right {
  margin-left: auto;
}

#s-swiper {
  width: 100%;
  height: 100%;
}

#s-swiper .swiper-slide {
  background-position: center;
  background-size: cover;
}

#s-swiper .swiper-slide img {
  display: block;
  width: 100%;
}

#s-swiper .swiper-pagination-bullet {
  background-color:var(--mainColor);
}

#s-swiper .swiper-button-next, #s-swiper .swiper-button-prev {
  color: var(--mainColor);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.171);
  width: 60px;
  height: 60px;
}

#works {
  width: 100%;
  margin: 100px 0;
}

#works .secTitle {
  width: 74%;
  margin: 0 auto;
}

#works .secTitle::after {
  position: absolute;
  content: "Example";
  bottom: -25px;
  left: 25px;
  font-size: 2.5rem;
  color: var(--mainColor);
}

.null {
  margin: 50px 0;
}

/* 施工事例----------------------------- */


/*
登録・認可---------------------------------------------------  */

#register .secTitle::after {
  position: absolute;
  content: "License";
  bottom: -25px;
  left: 45px;
  font-size: 2.5rem;
  color: var(--mainColor);
}

.register_inner {
  width: 94%;
  margin: 0 auto;
  padding: 100px 0 0 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* ISO---------------------------- */
.iso-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  margin-top: 30px;
  margin-bottom: 80px;
}
.iso-text {
  width: 40%;
  overflow: hidden;
}

.iso-text p {
  font-size: calc(16px + (24 - 16) * ((100vw - 1025px) / (1920 - 320)));
  padding-right: 15%;
}
.iso-wrapper .img {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.iso-wrapper .img img {
  width: 50%;
  height: auto;
  min-width: 160px;
}

/* SDGs---------------------------- */

.sdgs-wrapper {
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
}

.sd-contents {
  justify-content: space-between;
  height: auto;
}
/* img-link */
.sd-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.sd-img img {
  width: 100%;
  height: 100%;
}

.hover-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.hover-text .text1 {
  font-size:  calc(20px + (30 - 20) * ((100vw - 1025px) / (1920 - 320)));
  padding: 0 20px 10px;
}

.sd-img:hover .hover-text {
  opacity: 1;
  padding-top: 10px;
}

.sd-under {
  display: flex;
}

.sd-text {
  width: 100%;
  overflow: hidden;
  height: auto;

}
.sd-text p {
  font-size: calc(16px + (24 - 16) * ((100vw - 1025px) / (1920 - 320)));
  padding-top: 30px;
  width: 80%;
  margin: 0 auto;
}

/* エコアクション------------------- */
.eco-wrapper {
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
}

span {
  font-size: 3rem;
  font-weight: bold;
}
.eco-title p {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: calc(18px + (24 - 18) * ((100vw - 1025px) / (1920 - 320)));
}
.eco-report {
  justify-content: center;
  margin: 20px 5%;
}
.eco-left {
  width: 100%;
  display: flex;
  justify-content: center;
}

.eco1 {
  width: 35%;
  height: auto;
  margin-right: 30px;
}

.eco2 {
  width: 35%;
  height: 100%;
}

.eco-left img {
  width: 100%;
  height: 100%;
  border: #898484 1px solid;
}

.eco-text {
  width: 100%;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
}
.eco-text p {
  font-size: calc(18px + (24 - 18) * ((100vw - 1025px) / (1920 - 320)));
  margin-bottom: 25px;
}
.eco-text p:nth-child(2) {
  margin-bottom: 50px;
}
.eco-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: calc(24px + (30 - 20) * ((100vw - 1025px) / (1920 - 1025)));
  line-height: 50px;
  background-color: #898484;
}

/* LINE007(ecobtn)---------------------- */
.button_line007 a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 320px;
  padding: 5px 10px;
  color: #30a47b;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: rgb(224, 224, 224);
}
.button_line007 a:hover {
  background: #ebfefa;
  color: #6bffb8;
}
.button_line007 a:before,
.button_line007 a:after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.button_line007 a:before {
  top: 0;
  left: 0;
}
.button_line007 a:after {
  bottom: 0;
  right: 0;
}
.button_line007 a:hover:before,
.button_line007 a:hover:after {
  width: 100%;
  height: 100%;
}
.button_line007 a:hover:before {
  border-top-color: #00c09d;
  border-right-color: #00c09d;
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.button_line007 a:hover:after {
  border-bottom-color: #00c09d;
  border-left-color: #00c09d;
  transition: border-color 0s ease-out 0.2s, width 0.15s ease-out 0.2s,
    height 0.15s ease-out 0.3s;
}
.more {
  color: #00c06d !important;
  font-size: calc(20px + (30 - 20) * ((100vw - 1025px) / (1920 - 1025)));
}

/* エコ画像 */

.eco-imgText p {
  width: 100%;
  text-align: left;
  margin: 50px 0;
  padding-top: 50px;
  font-size: 2rem;
}
/* 
-------------------script-------------------
*/
.swiper {
  margin-bottom: 80px;
}
.swiper::before {
  content: "";
  position: absolute;
  top: 550px;
  left: 0;
}

.swiper2 {
  display: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
取り組み-----------------------------------------------------------------------------------
*/
#work-on .secTitle::after {
  position: absolute;
  content: "Work-on";
  bottom: -25px;
  left: 25px;
  font-size: 2.5rem;
  color: var(--mainColor);
}

#work-on {
  margin-bottom: 50px;
}
/* 自販機-------------------------------------- */

.vending-machine {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.vm-text {
  width: 100%;
  padding: 8px 19px;
  margin: 8px 0;
  color: #2c2c2f;
  background: #00c09d38;
  border-top: solid 12px #31afab;
  border-bottom: solid 12px #31afab;
}
.vm-img img {
  width: 100%;
  height: 100%;
}
.vm-text p {
  padding: 4%;
  font-size: calc(18px + (24 - 14) * ((100vw - 1025px) / (1920 - 320)));
}
/* 安全衛生----------------------------------------------------------------- */
.health {
  margin-top: 50px;
  height: auto;
  margin-bottom: 80px;
}
.dedail {
  padding-bottom: 30px;
}

.health p {
  margin: 0 auto;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  width: 50%;
}

/* .health-items {
  margin-top: 50px;
} */

.health-item1,
.health-item2 {
  display: flex;
  align-items: center;
}

.health-items {
  width: 80%;
  margin: 0 auto;
}

.health-items img {
  width: 50%;
  height: 100%;
}
.health-items p {
  width: 50%;
  padding: 3%;
  letter-spacing: -0.07em;
  font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
}

/* フッター------------------------------------------------------- */
footer {
  background: #101010;
  padding: 86px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

footer .footer-wrap {
  width: 100%;
  padding: 90px 0 0 0;
}

footer .up {
  display: flex;
  grid-template-columns: 100px 100px;
  gap: 5%;
  justify-content: center;
}

footer .up a {
  display: block;
  font-size: 1.5rem;
  padding: 10px 0;
}

footer .center {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

footer .center ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
}

footer .center ul li {
  border-right: 1px solid #fff;
  padding: 15px;
  width: 20%;
  font-size: 1.5rem;
}

footer .center ul li:last-child {
  border-right: none;
}

.instalink {
  display: flex;
  /* justify-content: center; */
  margin: 50px auto;
  width: 50px;
  /* background-color: #fff; */
}

.instalink img {
  height: 50px;
  width: 50px;
}

footer .down {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .down p {
  margin-left: 15px;
  font-size: 4rem;
  color: #fff;
  font-family: "HG行書体", monospace;
}
footer .logo-img {
  height: 55px;
}
footer .text-img {
  height: 55px;
}
.copy {
  margin-top: 25px;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

/* レスポンシブ -----------------------------------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
  /*  (~1280px)-------*/
  .inner {
    width: 94%;
    margin: 0 auto;
  }
  #works {
    margin-top: 20px;
  }
  .secTitle{
    margin-top: 10px;
  }
  .subTitle {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .secTitle{
    margin-top: 25px;
  }
  .subTitle {
    width: 94%;
    border-top: solid 2px #00c09d; /*上線*/
    border-bottom: solid 2px #00c09d; /*下線*/
  }
}


/* メニュー -----------------------------------------------------------*/
/* タブレット-------------------- */
@media screen and (max-width: 1024px) {
  #menu .title p {
    font-size: 3rem;
  }
  #menu .title p::after {
    font-size: 6rem;
  }
  #menu ul li a {
    font-size: 2.5rem;
  }
}

/* 施工事例 -----------------------------------------------------------*/
@media screen and (max-width: 1024px) {
  #works .secTitle {
    width: 94%;
  }
}

/* s-swiper -----------------------------------------------------------*/
@media screen and (max-width: 1024px) {
  #s-swiper .swiper-pagination {
      width: auto;
      left: 2%;
      bottom: 2%;
    }
    .s-swipe-wrap {
      width: 90%;
    }
  }

@media screen and (max-width: 599px) {
  #works .secTitle{
    margin-bottom: 10%;
  }
  .s-swipe-wrap {
    width: 90%;
    height: 50vw;
    margin: 0 auto;
    margin-top: 5vw;
    box-shadow: none;
  }
}

/* 登録認可 -----------------------------------------------------------*/

/* ISO -----------------------------------------------------------*/
/* @media screen and (max-width: 1024px) {
  .iso-wrapper {
    display: block;
  }

  .iso-text {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .iso-text p {
    padding-right: 0;
  }

  .iso-wrapper .img {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
} */
@media screen and (max-width: 1160px) {
  .iso-wrapper {
    display: block;
  }

  .iso-text {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .iso-text p {
    padding-right: 0;
  }

  .iso-wrapper .img {
    width: 100%;
    height: auto;
  }
  .iso-wrapper .img img {
    min-width: 100px;
    width: 35%;
    height: auto;
  }
  .iso-wrapper .img img:first-child {
    margin-right: 30px;
  }
}

/* SDGs -------------------------------------------------------------*/
@media screen and (max-width: 1024px) {
  .sd-contents {
    display: block;
    height: auto;
  }

  .sd-img {
    width: 100%;
  }

  .sd-text {
    width: 100%;
  }

  /* eco -----------------------------------------------------------*/
  .eco1,
  .eco2 {
    width: 50%;
  }
  .eco-text {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .button_line007 a {
    max-width: 200px;
  }
  .eco-wrapper {
    margin-bottom: 10px;
  }
  .eco-text p {
    margin-bottom: 10px;
  }
  .eco-text p:nth-child(2) {
    margin-bottom: 20px;
  }
}


/* 取り組み -------------------------------------------------------------------------*/

/* 安全衛生 -----------------------------------------------------------*/
@media screen and (max-width: 1024px) {
  .health-items p {
    padding-left: -50px;
  }
}

@media screen and (max-width: 599px) {
  .health p {
    width: 80%;
  }
  .health-items p {
    border-left:solid 5px #e9b3a3;
    background-color: #ffffffbd;
    backdrop-filter: blur(3px);
    box-shadow: 3px 3px 6px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
  }
  .health-item1 p {
    width: 70%;
    margin-left: -40%;
  }
  .health-item2 p {
    width: 70%;
    margin-right: -40%;
    z-index: 1;
  }
  .health-item1 {
    padding-bottom: 20px;
  }
  .health-items img {
    width: 75%;
  }
  .health-item1,
  .health-item2 {
    display: flex;
    align-items: end;
  }
}
@media screen and (max-width: 420px) {
  .health-items {
    width: 94%;
    margin: 0 auto;
  }
}

/* フッターレスポンシブ -----------------------------------------------------------*/
@media screen and (max-width: 1024px) {
  footer .center ul {
    width: 75%;
  }
  footer .center ul li {
    padding: 10px;
  }
}
@media screen and (max-width: 599px) {
  footer .center ul {
    width: 94%;
  }
  footer .center ul li {
    padding: 5px;
    font-size: 1.2rem;
  }
  footer .logo-img {
    height: 40px;
  }
  footer .text-img {
    height: 45px;
  }
}

#works, #register, #work-on{
  scroll-margin-top: 150px;
}